.login-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;

    .form-input{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-bottom: 1px solid black;
        height: 35px;

        label{
            font-size: 12px;
            color: #323232;
            font-weight: 600;
        }

        input{
            border: none;
            outline: none;
            font-size: 14px;
        }
    }
}